header{
    background-color: rgb(23, 212, 51);
    color: rgb(254, 26, 26);
    padding: 20px;
    text-align: left;

}

span{
    color: aquamarine;
    font-size: 40px;
    font-family:brush script mt;
}

span1{
    color: rgb(230, 136, 12);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:5px
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s;
    color:black;
    text-align: center;
}
.logo{
    font-size: 2em;
    font-style: italic;
}
h1{
    color: rgb(105, 116, 116);
}

img{
    height: 300px;
    width:300px;
}